<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="lmy3D8Bc5K0W6LY6qOhXeEtsL1dfxtLz_bJhlsTXOfw" />
    <link rel="stylesheet" href="/static/css/style-index.css">
    <link rel="icon" href="/static/img/favicon.ico">
    <meta charset="UTF-8">
    <title>SoftSpeak</title>
</head>
<body>
    <div id="title">
        <img src="/static/img/title.png">
    </div>
    <h2>以下に変換したいちくちく言葉を入力してください．変換には時間がかかる場合があります．</h2>
    <form action="/" method="POST">
        <textarea rows="5" cols="33" name="input_text"></textarea>
        <input type="submit" value="送信" id="button">
    </form>
    <div class="bottom-fixed-button" id="report-footer">
        <h4>以下の文章はちくちく言葉ですか？</h4>
            
        <p id="tikutiku">{{target}}</p>
        <table>
            <tr>
                <td><a href="javascript:Yes();" id="yes" class="btn_06">はい</a></td>
                <td><a href="javascript:No();" id="no" class="btn_06">いいえ</a></td>
            </tr>
        </table>
        <div id="num" hidden>{{num}}</div>
          
     
    </div>
</body>
<script>
    // バナーの「はい」，「いいえ」が押されたときの処理
    const foot = document.getElementById("report-footer");
    function Yes(){
      foot.style.display="none";
      let tikutiku = document.getElementById("num").innerHTML;
      window.location.href = "/count?num=" + tikutiku;
    }

    function No(){
      foot.style.display = "none";
    }



    $(".custom-select").each(function() {
        var classes = $(this).attr("class"),
            id      = $(this).attr("id"),
            name    = $(this).attr("name");
        var template =  '<div class="' + classes + '">';
            template += '<span class="custom-select-trigger">' + $(this).attr("placeholder") + '</span>';
            template += '<div class="custom-options">';
            $(this).find("option").each(function() {
              template += '<span class="custom-option ' + $(this).attr("class") + '" data-value="' + $(this).attr("value") + '">' + $(this).html() + '</span>';
            });
        template += '</div></div>';
        
        $(this).wrap('<div class="custom-select-wrapper"></div>');
        $(this).hide();
        $(this).after(template);
      });
      $(".custom-option:first-of-type").hover(function() {
        $(this).parents(".custom-options").addClass("option-hover");
      }, function() {
        $(this).parents(".custom-options").removeClass("option-hover");
      });
      $(".custom-select-trigger").on("click", function() {
        $('html').one('click',function() {
          $(".custom-select").removeClass("opened");
        });
        $(this).parents(".custom-select").toggleClass("opened");
        event.stopPropagation();
      });
      $(".custom-option").on("click", function() {
        $(this).parents(".custom-select-wrapper").find("select").val($(this).data("value"));
        $(this).parents(".custom-options").find(".custom-option").removeClass("selection");
        $(this).addClass("selection");
        $(this).parents(".custom-select").removeClass("opened");
        $(this).parents(".custom-select").find(".custom-select-trigger").text($(this).text());
      });
</script>
</html>
